<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CRMServerURL" value="infn2014.crm.dynamics.com" />
    <add key="CRMOrganization" value="CRM2011" />
    <add key="CRMSSLEnabled" value="true" />
    <add key="UserDomain" value="CORP" />
    <add key="UserName" value="marlena@infn2014.onmicrosoft.com" />
    <add key="Password" value="asdIOP12" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="ProjectParticipationsCache" duration="86400" varyByParam="none"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.serviceModel>
    <bindings>
      <!--<basicHttpBinding>
        <binding name="ExtendedMaxSize" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"  >
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>        
      </basicHttpBinding>-->
    </bindings>
    <services>
      <service name="CRMService.CRMService" behaviorConfiguration="ProjectParticipationsBehaviour">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="web" contract="CRMService.Interfaces.ICRMService"/>
        <!--webHttpBinding-->
        <!--behaviorConfiguration="web"-->
        <!--bindingConfiguration="ExtendedMaxSize"-->
        <endpoint address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ProjectParticipationsBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name ="web">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="false"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
